@model Order

<div class="row">
    <h1>Check Out</h1>
    <div class="col-md-12">

        <div asp-validation-summary="All" class="text-danger"></div>

        <form asp-action="Checkout" method="post" class="form-horizontal" role="form">

            <div class="form-group">
                <label asp-for="FirstName" class="col-md-2 control-label"></label>
                <div class="col-md-5">
                    <input asp-for="FirstName" class="form-control" />
                    <span asp-validation-for="FirstName" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="LastName" class="col-md-2 control-label"></label>
                <div class="col-md-5">
                    <input asp-for="LastName" class="form-control" />
                    <span asp-validation-for="LastName" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="col-md-2 control-label"></label>
                <div class="col-md-5">
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <div class="btn-group col-md-offset-2 col-md-5">
                    <input class="btn btn-success" type="submit" value="Complete order" />
                    @*<input class="btn btn-default" type="submit" value="Return " />*@
                </div>
            </div>

        </form>

    </div>
